<nav>
    <div class="site-title">
        <a href="/"><h1>Blog Villa</h1></a>
        <p>Stay curious.</p>

    </div>

    <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>

</nav>