<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>


    <h1>About</h1>
    <h2>A living network of curious minds.</h2>
    <div class="about_body">
        <p>Anyone can write on Medium. Thought-leaders, journalists, experts, and individuals with unique perspectives share their thinking here. </p>
        <p>You’ll find pieces by independent writers from around the globe, stories we feature and leading authors, and smart takes on our own suite of blogs and publications.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>