<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>


    <h1>About</h1>
    <h2>Your path to becoming a node.js course</h2>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, suscipit, veniam deserunt, reprehenderit temporibus adipisci nam sequi ipsa odio ex autem sapiente quod corrupti officia id excepturi ipsam facere dignissimos.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis voluptatibus fugiat laudantium quia fuga eaque eligendi, quis porro rem sint reprehenderit error ducimus nisi ab omnis blanditiis explicabo quam dolores.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>